<div class="page-header" >
        <div class="page-header-image" style="background-image:url(../../assets/images/store.jpeg)"></div>
        <div class="container">
        </div>
</div>

<div class='container maincontent'>
  <div class='row borderaround'>
    <div class='col-sm-4'>
      <div style='text-align: left'>
        <img src='../assets/images/farmer.jpeg' alt='Image' class='rounded-circle' />
      </div>
    </div>
    <div class='col-sm-8'>
      <h4> About Mark Evans </h4>
      <p class='vertalign'>
        I have been a farmer for almost 10 years now. I grow locally sourced and organic vegetables right from my backyard and sell it at farmer's markets in the city.
        I like the work I'm doing and hope that you do too! I like raising awareness for local farmers like myself to help the environment and let people eat tasty and locally grown food.
      </p>
    </div>
  </div>
  <div class='row' style='margin-bottom: 3%'>
    <div class='col-sm-6'>
      <h4> What I offer </h4>
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">
          Blueberries <span>3.50 / lbs</span>
        </button>
        <button type="button" class="list-group-item list-group-item-action">Radishes <span>3.99 / lbs</span></button>
        <button type="button" class="list-group-item list-group-item-action">Sweet Potatoes<span>2.99 / lbs</span></button>
        <button type="button" class="list-group-item list-group-item-action">Cabbages <span>0.99 / lbs</span></button>
        <button type="button" class="list-group-item list-group-item-action">Bell Peppers <span>3.99 / lbs</span></button>
        <button type="button" class="list-group-item list-group-item-action">Winter Melon <span>4.99 / lbs</span></button>
      </div>
    </div>
    <div class='col-sm-6'>
      <h4> Where I am </h4>
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
  </div>
</div>
