<div class="page-header" filter-color="blue">
        <div class="page-header-image" style="background-image:url(../../assets/images/loginbackground.jpg)"></div>
        <div class="container">
            <div class="col-md-4 content-center">
                <div class="card card-login card-plain">
                    <form class="form" method="" action="">

                      <div class="content" style='margin: auto'>
                        <div class="input-group form-group-no-border input-lg">
                          <input type="text" value="" placeholder="Username" class="form-control" style='color: white'>
                        </div>
                        <div class="input-group form-group-no-border input-lg">
                          <input type="text" value="" placeholder="Password" class="form-control" style='color: white'>
                        </div>
                      </div>

                      <div class="footer text-center submitbtn">
                        <button class="btn btn-primary btn-round bluebtn" style='width: 100%;' (click)='submit()'>Login</button>
                      </div>

                      <div class='pull-left'>
                        <a routerLink="/register" class='nav-link' style='color: #FFF;'><span> Create Account </span></a>
                      </div>

                    </form>

                </div>
            </div>
        </div>
      </div>
