<div class="page-header">
  <div class="page-header-image" style="background-image:url(../../assets/images/profbackground.jpeg)"></div>
</div>
<div class="container piccontainer">
  <div class='col-sm-4'>
    <div style='text-align: center'>
      <img src='../assets/images/profpic.jpeg' alt='Image' class='rounded-circle' />
    </div>
  </div>
</div>

<div class='container'>
  <div class='row' style="margin-top: 2%; margin-bottom: 2%;">
    <div class='col-sm-4'>
      <h3 style='text-align: center'> JOHN DOE </h3>
      <div class='biocontainer'>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae libero at quam egestas faucibus ut eget tellus. Duis elementum nulla sed tincidunt dictum. Ut lacinia diam at odio rhoncus, ultricies fermentum augue bibendum. Morbi consectetur ac neque
          a fermentum. Integer sit amet ligula eu tellus dictum auctor egestas sed turpis. Fusce ipsum lorem, eleifend at enim nec, cursus mollis augue. Nam convallis dolor condimentum eros dapibus vestibulum. Sed quis nibh lacus. Suspendisse odio mauris,
          interdum eget nulla quis, suscipit vulputate massa. Nam sed lectus cursus, suscipit tortor vitae, aliquam odio.
        </p>
      </div>
    </div>

    <div class='col-sm-8' style=' border-left: 2px solid gray;'>
      <div class='contentcontainer content-center'>
        <h3 style='text-align: center'> CONTENT </h3>
      </div>
    </div>
  </div>
</div>
