<div class="page-header">
  <div class="page-header-image" style="background-image:url(../../assets/images/profbackground.jpeg)"></div>
</div>
<div class="container piccontainer">
  <div class='col-sm-4'>
    <div style='text-align: center'>
      <img src='../assets/images/profpic.jpeg' alt='Image' class='rounded-circle' />
    </div>
  </div>
</div>

<div class='container'>
  <div class='row' style="margin-top: 2%; margin-bottom: 2%;">
    <div class='col-sm-4'>
      <h3 style='text-align: center'> JAMES SCHULTZ </h3>
      <div class='biocontainer'>
        <p>
          Hi there, I'm James! I work as a freelance designer with a focus on typography. My other passion is local and organic food.
          I do not like the idea of farms and super markets wasting precious food while at the same time outputting ridiculous amounts of Greenhouse Gases.
          I go to farmer's markets whenever I can because I enjoy the food they serve and as well as the vibe of it.
        </p>
      </div>
    </div>

    <div class='col-sm-8' style=' border-left: 2px solid gray;'>
      <div class='contentcontainer content-center'>
        <h3 style='text-align: center'> CONTENT </h3>
        <p>Preferences: <span class="badge badge-info">Vegetarian</span> <span class="badge badge-info">No Carbs</span>
        <span class="badge badge-info">Paleo</span> <span class="badge badge-info">Free Range</span> </p>
        <h5> Recently bought from: </h5>
        <ul class="list-group">
  <li class="list-group-item">Catherine Valente</li>
  <li class="list-group-item">David Simn</li>
  </ul>
      </div>
    </div>
  </div>
</div>
