<div class="page-header" >
        <div class="page-header-image" style="background-image:url(../../assets/images/homebackground.jpeg)"></div>
        <div class="container">
            <div class="content-center">
                <h1> HEADER. </h1>
            </div>
        </div>
</div>

<div class='container maincontent'>
  <div class='row'>
    <div class='col-sm-8 text-center centermargin'>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae libero at quam egestas faucibus ut eget tellus. Duis elementum nulla sed tincidunt dictum.
      Ut lacinia diam at odio rhoncus, ultricies fermentum augue bibendum. Morbi consectetur ac neque a fermentum. Integer sit amet ligula eu tellus dictum auctor egestas sed turpis.
      Fusce ipsum lorem, eleifend at enim nec, cursus mollis augue. Nam convallis dolor condimentum eros dapibus vestibulum. Sed quis nibh lacus.
      Suspendisse odio mauris, interdum eget nulla quis, suscipit vulputate massa. Nam sed lectus cursus, suscipit tortor vitae, aliquam odio.
    </div>
  </div>
</div>
